body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-image {
    background-image: url("background.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
#logo{
    width: 200px;
}
#game {
    background-color: #ccc; 
    background-image: url("background.jpg");
    background-size: cover;
    border: 2px solid #333;
}

.btn {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
